{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md">
	<div class="row m-2">
	    <div class="col">
	<h3>Kontakt</h3>

	<ul class="list-unstyled">
	    <li>Bärbel Kröger, IT-Referentin</li>
	    <li>Niedersächsische Akademie der Wissenschaften zu Göttingen</li>
	    <li><a href="http://www.germania-sacra.de">Germania Sacra</a></li>
	    <li>Geiststraße 10</li>
	    <li>37073 Göttingen</li>
	    <li>Deutschland</li>
	</ul>
	<ul class="list-unstyled">
	    <li>Tel. +49 (0) 551/39-21558</li>
	    <li><a href="mailto:baerbel.kroeger@adwgoe.de">baerbel.kroeger@adwgoe.de</a></li>
	</ul>
	<ul class="list-unstyled">
	    <li><a href="https://wiag.adw-goe.de">https://wiag.adw-goe.de</a>
	</ul>
	<ul class="list-unstyled">
	    <li><a href="{{ protocol }}:{{ url('home', schemeRelative = true) }}">{{ protocol }}:{{ url('home', schemeRelative = true) }}</a></li>
	</ul>

	    </div>
	</div>
    </div>
{% endblock %}
