{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-sm">
	<div class="row col-12 m-2">
	    <p>Die in WIAG aufbereiteten Datensammlungen stehen unter freien Lizenzen (CC-BY-SA 4.0) zur Nachnutzung bereit. Datenpakete könne auch über das Datenrepositorium "res doctae" <a href="https://adw-goe.de/germania-sacra/datenservice/"><strong>Datenservice</strong></a> heruntergeladen werden.</p></div>
    </div>
{% endblock %}
