{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-sm">
	<div class="row m-2">
	    <div class="col-12">
		<span class="fw-bold">{{ message }}</span>
	    </div>
	</div>
    </div>
{% endblock %}
