{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set chunk_size=40 %}
    <div class="container-fluid">
	<div class="row ms-2">
	    <div class="col-12">
		<div class="topic-title">Klöster</div>
		<div>Daten der Klosterdatenbank übernehmen. (Dauer: 5-10 Minuten)</div>
	    </div>
	</div>
	<div class="row ms-2">
	    <div class="col-12"
		 data-controller="iterate-query"
		 data-iterate-query-url-value="{{ path('edit_monastery_update_step') }}"
		 data-iterate-query-success-msg-value="Update abgeschlossen"
		 data-iterate-query-chunk-size-value="{{ chunk_size }}">
		<div class="my-2"
		     data-iterate-query-target="status"></div>
		<button type="button"
			class="btn btn-primary btn-sm"
			data-action="iterate-query#start">Start</button>
	    </div>
	</div>
    </div>
{% endblock %}
