
{% extends 'base.html.twig' %}

{% block title %}Registration success{% endblock %}

{% block body %}
    <div class="container">
	<div class="row">
	    <div class="col-5">
		<div class="login-form bg-light mt-4 p-4">
		    <h1>User eingetragen</h1>
		    <div>{{ user.name }}</div>
		    <div>Name: {{ user.givenname~' '~user.familyname }}</div>
		    <div>E-Mail: {{ user.email }}</div>
		    <div>Rollen: {% for role in user.roles|filter(r => r != 'ROLE_USER') %}{{ user.roledisplayname(role) }}{% if not loop.last %},{% endif %}{% endfor %}</div>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
