{% extends 'base.html.twig' %}

{% block title %}externe URL{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row ms-2 col-12">
	    <h1>Normdaten/Externe Ressourcen</h1>
	    {{ include('edit_authority/_list.html.twig', {
		formType: 'list',
	    }) }}
	</div>
    </div>
{% endblock %}
