{# params: base_id_delete base_name_delete #}
<div data-controller="input-state sync"
     data-sync-toggle-first-value=""
     data-sync-toggle-second-value="delete">
    {{ include('edit_bishop/_delete_button_sans_div.html.twig') }}
</div>
