{% set placeholder_index='_____' %} {# TODO delete when new edit-save cycle works 2023-01-30 #}
<div data-controller="insert"
     data-insert-url-value="{{ path('edit_bishop_new_property', {
			    base_id: base_id,
			    base_input_name: base_input_name,
			    }) }}"
     data-insert-point-value="lastButOne">
    {% for prop in person.item.itemProperty %}
	{{ include('edit_bishop/_input_property.html.twig', {
		base_id: base_id,
		base_input_name: base_input_name,
		current_idx: loop.index0,
	    }) }}
    {% endfor %}
    {% if false %} {# TODO delete when new edit-save cycle works 2023-01-30 #}
	{# the server ignores the template if it contains no data #}
    <div class="pe-1 d-none"
	 data-insert-target="template">
	{{ include('edit_bishop/_input_property.html.twig', {
	    base_id: base_id,
	    base_input_name: base_input_name,
	    current_idx: placeholder_index,
	    prop: {
		id: null,
		type: null,
		value: "",
	    },
	}) }}
    </div>
    {% endif %}
    <div class="input-group input-group-sm mt-1">
	<button class="btn btn-sm btn-outline-secondary"
		type="button"
		data-action="insert#insert"><img class="pb-1" src="{{ asset('images/symbols/plus-square.svg') }}" alt="Plus">&ensp;Attribut</button>
    </div>
</div>
