<div data-controller="insert sync"
     data-insert-url-value="{{ path('edit_bishop_new_reference', {
			    base_id: base_id,
			    base_input_name: base_input_name,
			    }) }}"
     data-insert-point-value="last"
     data-insert-hide-trigger-value="yes">
	{% for ref in person.item.reference %}
	{{ include('edit_bishop/_input_reference.html.twig', {
		base_id: base_id,
		base_input_name: base_input_name,
		current_idx: loop.index0,
		is_last: loop.last,
	}) }}
    {% endfor %}
</div>
{% for error_obj in person.inputError|filter(v => v.section == 'reference') %}
    <div class="row">
	<div class="col-12 text-danger">{{ error_obj.msg }}</div>
    </div>
{% endfor %}
