<div data-controller="insert input-state"
     data-insert-base-id-value="{{ base_id_role }}"
     data-insert-base-input-name-value="{{ base_input_name_role }}">
    {% for role_prop in role.roleproperty %}
	<div class="pe-1"> {# see template for new prop #}
	    {{ include('edit_bishop/_input_role_property.html.twig', {
		prop: role_prop,
		base_id: base_id_role,
		base_input_name: base_input_name_role,
		current_idx: loop.index0
	    }) }}
	</div>
    {% endfor %}
    <div class="pe-1"
	 data-insert-target="insertPoint"></div>
    <div class="input-group input-group-sm mt-1 ">
	<button class="btn btn-sm btn-outline-secondary"
		type="button"
		data-new-input-target="button"
		data-action="insert#insertLocal"
		data-url="{{ path('edit_bishop_new_role_property') }}">Neues Attribut</button>
    </div>
</div>
