{{ include('edit_bishop/_input_id_external_essential.html.twig') }}
<div data-controller="insert"
     data-insert-url-value="{{ path('edit_bishop_new_idexternal', {
			    base_id: base_id,
			    base_input_name: base_input_name
			    }) }}"
     data-insert-hide-trigger-value="yes"
     data-insert-point-value="last">
    {% for id_ext in person.item.idexternalnoncore %}
	{{ include('edit_bishop/_input_id_external.html.twig', {
	    idext: id_ext,
	    base_id: base_id,
	    base_input_name: base_input_name,
	    current_idx: loop.index0,
	    is_last: loop.last,
	}) }}
    {% endfor %}
</div>
