{# params: base_id_delete base_name_delete #}
{# do not put a div here to avoid line break #}
<div data-controller="input-state sync"
     data-sync-toggle-first-value=""
     data-sync-toggle-second-value="delete">
    <span class="text-nowrap">
	{% if is_last %}
	    <button class="btn btn-light btn-sm"
		    type="button"
		    data-action="insert#insert"><img width="20" height="20" src="{{ asset('images/symbols/plus-square.svg') }}" alt="Plus"></button>
	{% endif %}
	{{ include('edit_bishop/_delete_button_sans_div.html.twig') }}
    </span>
</div>
