{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="ms-2 p-1"
	     data-controller="submit-form">
	    {{ include('edit_bishop/_list.html.twig') }}
	</div>
    </div>
{% endblock %}
