{# ordinations, parameter: properties #}
{% set ordination = item.getitempropertybyname('Weihe') %}
{% if ordination %}
    <dt class="col-sm-3">Weihen</dt>
    <dd class="col-sm-9 mb-1">
	<ul class="list-unstyled mb-1">
	    <li>
		<ul class="list-inlined list-unstyled">
		    <li class="list-inline-item">{{ ordination.value }}</li>
		    {% if ordination.placevalue %}<li class="list-inline-item">{{ ordination.placevalue }}</li>{% endif %}
		    {% if ordination.datevalue %}<li class="list-inline-item">{{ ordination.datevalue|date("d.m.Y") }}</li>{% endif %}
		    {% set contribution = item.getitempropertybyname('Weihegebühr') %}
		    {% if contribution %}<li class="list-inline-item comment">({{ contribution.value }})</li>{% endif %}
		</ul>
	    </li>
	</ul>
    </dd>
{% endif %}
