<div data-controller="insert"
     data-insert-url-value="{{ path('edit_role_new_urlexternal', {
			    'itemIndex': itemIndex
			    }) }}"
     data-insert-hide-trigger-value="yes"
     data-insert-point-id-value="url-insert-point">
    {% for url_ext in role.item.urlexternal %}
	{{ include('edit_role/_input_url_external.html.twig', {
	    'urlext': url_ext,
	    'itemIndex': itemIndex,
	    'currentIndex': loop.index0,
	    'isLast': loop.last,
	}) }}
    {% endfor %}
    <div id="url-insert-point" class="d-none"></div>
</div>
