{% extends 'base.html.twig' %}
{% set menuItem='ref-list' %}
{% block body %}
    <div class="container-fluid">
	<div class="row col-12 my-3 mx-2">
	    <h2>Referenzwerke</h2>
	    {% for corpus in reference_list %}
		<h3>{{ corpus['title'] }}</h3>
		{% for ref in corpus['list'] %}
		<dl class="row mx-2">
		    <dt class="col-sm-4">{{ ref.titleShort }}</dt>
		    <dd class="col">
			{{ include('reference/_detail.html.twig', {ref:ref}) }}
		    </dd>
		</dl>
		{% endfor %}
	    {% endfor %}
	</div>
    </div>
{% endblock %}
