{% extends 'base.html.twig' %}

{% block title %}Literatur{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row ms-2 col-12">
	    <h1>Referenzen</h1>
	    {{ form_start(form, {
		'attr': {
		    'data-controller': 'submit-form',
		    'data-action': 'change->submit-form#onChange',
		}
	    }) }}
		<div class="w-20 mb-2">{{ form_widget(form.itemType) }}</div>
	    {{ form_end(form) }}
	    {{ include('edit_reference/_list.html.twig', {
		formType: 'list',
	    }) }}
	</div>
    </div>
{% endblock %}
