<button type="submit" form="form" formaction={{ formaction }} class="btn btn-outline-secondary btn-sm me-1" name="offset" value={{ value }} {% if disabled %}disabled="disabled"{% endif %}>{{ text }}</button>
