<div class="dropdown ms-2">
    <button class="btn btn-secondary btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Export</button>
    <ul class="dropdown-menu">
	<li><a class="dropdown-item" href="#">Action</a></li>
	<li><a class="dropdown-item" href="#">Another action</a></li>
	<li><a class="dropdown-item" href="#">Something else here</a></li>
	<button type="submit"
		form="{{ form.vars.id }}"
		formaction="{{ path('download-csv-person-data', { 'corpusId': corpus }) }}"
		class="btn btn-secondary btn-light btn-sm ms-2">CSV Personendaten</button>
    </ul>
</div>
