<div class="modal fade"
     tabindex="-1"
     aria-hidden="true"
     data-modal-form-target="modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ modal_title }}</h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" data-modal-form-target="modalBody">
                {{ modal_body|default("lädt ...") }}
            </div>
            <div class="modal-footer">
                <button type="button"
			class="btn btn-secondary"
                        data-bs-dismiss="modal">Abbrechen</button>
                <button type="button"
			class="btn btn-primary"
			data-action="modal-form#submitForm">{{ modal_success }}</button>
            </div>
        </div>
    </div>
</div>
