{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set edit_title = { '4': bishop_title, '5': canon_title } %}
    <div class="container-fluid">
	<div class="row ms-2 mb-3 col-12">
	    <span class="topic-title">{{ edit_title[itemTypeId] }}</span>
	    <span class="topic-title">Anlegen/Zusammenführen/Bearbeiten</span>
	</div>
	{% if count > 0 %}
	    {{ include('edit_person/_list_new_fl.html.twig') }}
	{% endif %}
    </div>
{% endblock %}
