{% extends 'base.html.twig' %}

{% block body %}
    <div data-controller="modal-form"
	 {# TODO 2023-09-27: replace parameter itemTypeId #}
	 data-modal-form-open-url-value="{{ path('edit_person_merge_query', { 'itemTypeId': 'can' }) }}">
	{{ include('edit_person/_query_body.html.twig') }}
	{{ include("modal/_modal.html.twig", {
	    'modal_title': "Personen zusammenführen",
	    'modal_success': "Übernehmen",
	}) }}
    </div>
{% endblock %}
