{% extends 'base.html.twig' %}

{% block body %}
    <div data-controller="modal-form"
	 data-modal-form-open-url-value="{{ path('edit_person_merge_query', { 'itemTypeId': itemTypeId }) }}">
	{{ include('edit_person/_query_body.html.twig') }}
	{% set modal_title={ '4': 'Bischöfe zusammenführen', '5': 'Domherren zusammenführen' } %}
	{{ include("modal/_modal.html.twig", {
	    'modal_title': modal_title[itemTypeId],
	    'modal_success': "Übernehmen",
	}) }}
    </div>
{% endblock %}
