{% extends 'base.html.twig' %}

{% block title %}Benutzerliste{% endblock %}

{% block body %}
    <div class="container">
	<div class="row col-12"><h1>Benutzerliste</h1></div>
	<div class="row">
	    <div class="col-12">
		<div class="table-responsive">
		    <table class="table">
			<thead class="thead-light">
			    <tr>
				<th scope="col">Id</th>
				<th scope="col">aktiv</th>
				<th scope="col">Name</th>
				<th scope="col">Vorname</th>
				<th scope="col">Familienname</th>
				<th scope="col">E-Mail</th>
				<th scope="col">Rollen</th>
				<th scope="col">angelegt</th>
			    </tr>
			</thead>
			<tbody>
			    {% for user in user_list %}
				{{ include('user/_row.html.twig') }}
			    {% endfor %}
			</tbody>
		    </table>
		</div>
	    </div>
	    <div>
		<a class="btn btn-primary" role="button" href="{{ path('user_register') }}">Neuer Eintrag</a>
	    </div>
	</div>
    </div>
{% endblock %}
